USE THUVIEN
GO
--
--INSERT data INTO docgia table
--

INSERT INTO docgia VALUES ('1', N'Phạm Thị An', 'an.pham@example.com', '01/15/2003', '05/16/2023', N'Hoàng Diệu', '0', '0');
INSERT INTO docgia VALUES ('2', N'Nguyễn Minh Bảo', 'bao.nguyen@example.com', '02/17/2003', '05/16/2023', N'Nguyễn Trãi', '1', '0');
INSERT INTO docgia VALUES ('3', N'Lê Văn Cường', 'cuong.le@example.com', '03/19/2003', '05/16/2023', N'Lê Lợi', '2', '0');
GO
--
--INSERT data INTO sach table
--
INSERT INTO sach VALUES ('1', N'Vũ Trụ và Sự Hình Thành', N'Khoa Học', N'Stephen Hawking', N'Nhà Xuất Bản Khoa Học', '01/10/2023', '02/15/2022', '150000', '1');
INSERT INTO sach VALUES ('2', N'Bí Ẩn Hành Tinh Xanh', N'Khoa Học', N'Carl Sagan', N'Nhà Xuất Bản Khoa Học', '03/20/2023', '04/18/2022', '170000', '1');
INSERT INTO sach VALUES ('3', N'Cuộc Sống Vũ Trụ', N'Khoa Học', N'Neil deGrasse Tyson', N'Nhà Xuất Bản Khoa Học', '05/25/2023', '06/14/2022', '200000', '0');









--
GO

INSERT dbo.cacloaidocgia
(
    loaidg
)
VALUES (0 -- loaidg - int
       )


INSERT dbo.cacloaidocgia
(
    loaidg
)
VALUES (1 -- loaidg - int
       )

INSERT dbo.cacloaidocgia
(
    loaidg
)
VALUES (2 -- loaidg - int
       )
--

INSERT INTO cacloaisach VALUES (N'Khoa Học')
INSERT INTO cacloaisach VALUES (N'Tiểu Thuyết')
INSERT INTO cacloaisach VALUES (N'Truyện Tranh')

INSERT INTO dbo.quydinh
        ( tienphattrasachtremoingay,
	      tuoimax ,
          tuoimin ,
          songayduocmuon ,
          sosachduocmuon ,
          kcnamxuatban
        )
VALUES  ( 1000 ,
		  55 , -- tuoimax - int
          18 , -- tuoimin - int
          4 , -- songayduocmuon - int
          5 , -- sosachduocmuon - int
          8  -- kcnamxuatban - int
        )


--INSERT INTO phieumuon VALUES ('1','5/7/2018','3')
--INSERT INTO phieumuon VALUES ('2','5/9/2018','3')
--INSERT INTO phieumuon VALUES ('3','5/12/2018','3')
--GO

----
----INSERT data INTO ct_phieumuon table
----
--INSERT INTO ct_phieumuon VALUES ('1','1')
--INSERT INTO ct_phieumuon VALUES ('1','2')
--INSERT INTO ct_phieumuon VALUES ('1','3')
--INSERT INTO ct_phieumuon VALUES ('2','3')
--INSERT INTO ct_phieumuon VALUES ('2','4')
--INSERT INTO ct_phieumuon VALUES ('2','6')
--INSERT INTO ct_phieumuon VALUES ('3','7')
--INSERT INTO ct_phieumuon VALUES ('3','8')
--INSERT INTO ct_phieumuon VALUES ('3','9')
--GO

----
----INSERT data INTO phieutra table
----
--INSERT INTO phieutra VALUES ('1','5/8/2018','50000','3')
--INSERT INTO phieutra VALUES ('2','5/12/2018','0','3')
--INSERT INTO phieutra VALUES ('3','5/15/2018','0','3')
--GO
----
----INSERT data INTO ct_phieutra table
----
--INSERT INTO ct_phieutra VALUES ('1','3000','1','1')
--INSERT INTO ct_phieutra VALUES ('1','20000','1','2')
--INSERT INTO ct_phieutra VALUES ('1','0','1','3')
--INSERT INTO ct_phieutra VALUES ('3','0','2','3')
--INSERT INTO ct_phieutra VALUES ('3','0','2','4')
--INSERT INTO ct_phieutra VALUES ('3','0','2','6')
--INSERT INTO ct_phieutra VALUES ('3','0','2','7')
--INSERT INTO ct_phieutra VALUES ('3','0','2','8')
--GO


-----
----SELECT s.masach, trangthai ,MAX( ngaymuon ) 
----FROM dbo.sach s , dbo.ct_phieumuon ct , dbo.phieumuon pm 
 
----WHERE s.masach=ct.masach AND s.trangthai = 1  AND ct.mapm =pm.mapm AND pm.mapm IN (
----SELECT mapm 
----FROM dbo.phieumuon pm , dbo.docgia dg 
----WHERE pm.mathe = dg.mathe  
----)

----GROUP BY s.masach, s.trangthai
